
<div class="table">
  <div class="row header">
    <h1>Welcome to the Insufferable Coffee Shop</h1>
  </div>
  <div class="row content">
    <div class="col-md-4">
      <div class="sub-header">
        <h3>Who We are</h3>
      </div>
      <div class="company-info">

      </div>
    </div>
    <div class="col-md-4">
      <div class="sub-header">
        <h3>New Products</h3>
      </div>
      <div class="new-products">

      </div>
    </div>
    <div class="col-md-4">
      <div class="sub-header">
        <h3>Most Reviewed Products</h3>
      </div>
      <div class="reviewed-products">

      </div>
    </div>
  </div>
</div>
